.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
}

span {
    text-align: center;
}

.hero__text button {
    display: block;
    margin: auto;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 1.5rem;
}

.image-grid img {
    border-radius: 10px;
}

article,
main {
    padding: 1rem;
}

article {
    text-align: center;
}

footer {
    text-align: center;
}